<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletMappingDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>ServletMappingDemo</servlet-name>
  	<!-- class name has to be fully qualified name i.e. along with package name -->
  	<servlet-class>com.learning.servletmappingdemo.ServletMappingDemo</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ServletMappingDemo</servlet-name>
  	<url-pattern>/ServletMappingDemo</url-pattern>
  	<url-pattern>/xyz</url-pattern>
  	<url-pattern>/demo/*</url-pattern><!-- This is called as wild card url pattern -->
  </servlet-mapping>
</web-app>